@charset "utf-8";
/* CSS Document */

    *{
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;
}
    img {
	width: 100%;
	max-width: auto;
	margin: 0px;
	padding: 0px;
}
    body{
	font: 14px 'roboto_condensedlight', sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-image: url(images/fondo.jpg);
	background-repeat: repeat;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1920
*/
@media only screen and (max-width: 1920px) {
    .conttoner {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FFF;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #999;
	border-bottom-color: #999;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 50px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 70px;
}
    .col1B {
	height: auto;
	width: 100%;
	text-align: center;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 35px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
}
    .tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 50px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 70px;
}
    .textoempresa {
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.2em;
	height: auto;
	width: 94%;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	margin-top: 5px;
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom: 10px;
}
    .colimgbullet {
	height: auto;
	width: 59%;
	margin: 0px;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
}
    .colimgbullet2 {
	height: auto;
	width: 59%;
	margin: 0px;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
}
    .cont100 {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
    .conttextoformulario {
	height: auto;
	width: 20.5%;
	margin-right: 2.3%;
	margin-left: 6.4%;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 15px;
	padding-bottom: 15px;
}
    .enccoltipotoner {
	font-family: "roboto_condensedbold", sans-serif;
	color: #FFFFFF;
	font-size: 1.1em;
	height: 28px;
	width: 100%;
	text-align: center;
	padding-top: 12px;
	background-color: #3CF;
	margin-top: 10px;
}
    .iconstipostoner {
	height: auto;
	width: 40%;
	text-align: center;
	float: left;
	padding-top: 12px;
	padding-bottom: 0px;
	padding-right: 30%;
	padding-left: 30%;
}
    .iconstipostoner2 {
	height: auto;
	width: 40%;
	text-align: center;
	float: left;
	padding-top: 12px;
	padding-bottom: 0px;
	padding-right: 30%;
	padding-left: 30%;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 1.1em;
	color: #999999;
	height: auto;
	width: 90%;
	text-align: center;
	float: left;
	padding-bottom: 0px;
	margin-left: 0%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .contformulario {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 75px;
	padding-bottom: 75px;
}
    .conttoner2 {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: #FFF;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #999;
	border-bottom-color: #999;
}
    .contmapa {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
}
    .contmapa2 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa3 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa4 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: 320px;
	width: 100%;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa7 {
	height: auto;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
  .contcentral {
	height: auto;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
    .titulobestcomputer {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1.8em;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
    .cont100cierre {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	background: #0da1e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYTFlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzU0Y2RmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODhmZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0da1e5 0%, #54cdf2 48%, #088fd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0da1e5), color-stop(48%,#54cdf2), color-stop(100%,#088fd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* IE10+ */
	background: linear-gradient(to right, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* W3C */


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da1e5', endColorstr='#088fd8',GradientType=1 );
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 30px;
}
    .contcentralcierre {
	height: auto;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
    .contcontactoizq {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1.2em;
	height: auto;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
    .contcontactocentral {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1.2em;
	height: auto;
	width: 58%;
	margin-right: 2%;
	margin-left: 2%;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
    .contcontactoder {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1.2em;
	height: auto;
	width: 14%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
    .contimgface {
	height: 25px;
	width: 25px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1920
*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1680
*/
@media only screen and (max-width: 1680px) {
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
	padding-top: 0px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 35px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 50px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 30px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 30px;
}
    .contformulario {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 66px;
	padding-bottom: 66px;
}
    .contmapa {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa2 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
    .contmapa3 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa4 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa7 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1680
*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1600
*/
@media only screen and (max-width: 1600px) {
.contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}

	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
	padding-top: 0px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 50px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 20px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 30px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 40px;
}
    .contformulario {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 60px;
	padding-bottom: 64px;
}
    .contmapa {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa2 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa3 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
    .contmapa4 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa7 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1600
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1440
*/
@media only screen and (max-width: 1440px) {
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 30px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 5px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 6%;
	margin-top: 30px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 10px;
}
    .conttextoformulario {
	height: auto;
	width: 20.5%;
	margin-right: 2.3%;
	margin-left: 6.4%;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 23px;
	padding-bottom: 23px;
}

}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1440
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1366
*/
@media only screen and (max-width: 1366px) {
    .contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 32%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 30px
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 32%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 20px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 0%;
	padding-left: 3%;
	line-height: 1em;
}
    .conttextoformulario {
	height: auto;
	width: 20.5%;
	margin-right: 2.3%;
	margin-left: 6.4%;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 16px;
	padding-bottom: 16px;
}
    .contformulario {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 64px;
	padding-bottom: 64px;
}
    .contmapa {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa2 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa3 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa4 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa7 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1366
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1280
*/
@media only screen and (max-width: 1280px) {
    .contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 32%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 32%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 15px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 0%;
	padding-left: 3%;
	padding-top: 0px;
	word-spacing: -0.1em;
}
    .colimgbullet {
	height: auto;
	width: 59%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .colimgbullet2 {
	height: auto;
	width: 59%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .contformulario {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}
    .iconstipostoner {
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 37.5%;
	padding-left: 37.5%;
	margin: 0px;
}
    .contmapa {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa2 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa3 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa4 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
    .contmapa6 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa7 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1280
*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 1024
*/
@media only screen and (max-width: 1024px) {
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 37%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 35%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 3em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
	padding-top: 0px;
}
    .colimgbullet {
	height: auto;
	width: 59%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-top: 105px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .colimgbullet2 {
	height: auto;
	width: 59%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .conttextoformulario {
	height: auto;
	width: 87%;
	margin-right: 6.5%;
	margin-left: 6.5%;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 15px;
	padding-bottom: 15px;
}
    .iconstipostoner {
	height: auto;
	width: 15%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 30px;
}
.iconstipostoner2 {
	height: auto;
	width: 17%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 20px;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 1.1em;
	color: #999999;
	height: auto;
	width: 70%;
	text-align: left;
	float: left;
	padding-bottom: 0px;
	margin-left: 0%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .contformulario {
	height: auto;
	width: 87%;
	margin-right: 6.5%;
	margin-left: 6.5%;
	margin-top: 30px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: auto;
	width: 87%;
	margin-right: 6.5%;
	margin-left: 6.5%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
    .contmapa7 {
	height: auto;
	width: 87%;
	margin-right: 6.5%;
	margin-left: 6.5%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 1024
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 768
*/
@media only screen and (max-width: 768px) {
	.col1B {
	height: auto;
	width: 100%;
	text-align: center;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 20px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 45%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 45%;
	text-align: center;
	float: left;
	margin-right: 0%;
	margin-left: 1.5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 2.5em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
	padding-top: 0px;
}
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 2.5em;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 1em;
	padding-top: 0px;
}
    .colimgbullet {
	height: auto;
	width: 51%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-top: 135px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .colimgbullet2 {
	height: auto;
	width: 51%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .conttextoformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 15px;
	padding-bottom: 15px;
}
    .iconstipostoner {
	height: auto;
	width: 15%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 60px;
}
    .iconstipostoner2 {
	height: auto;
	width: 17%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 60px;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 1.1em;
	color: #999999;
	height: auto;
	width: 40%;
	text-align: left;
	float: left;
	padding-bottom: 0px;
	margin-left: 0%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .contformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 30px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
    .contmapa7 {
	height: auto;
	width: 87%;
	margin-right: 6.5%;
	margin-left: 6.5%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}	

}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 768
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 680
*/
@media only screen and (max-width: 680px) {
    .contmapa6 {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: block;
}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 680
*/		
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 600
*/
@media only screen and (max-width: 600px) {
	.col1B {
	height: auto;
	width: 100%;
	text-align: center;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 20px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 90%;
	text-align: center;
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 90%;
	text-align: center;
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 2.5em;
	width: 90%;
	height: auto;
	text-align: center;
	margin-top: 0px;
	margin-right: 5%;
	margin-left: 5%;
	float: left;
	padding-right: 0%;
	padding-left: 0%;
	line-height: 1em;
}
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 2.5em;
	width: 70%;
	height: auto;
	text-align: center;
	margin-top: 0px;
	margin-right: 15%;
	margin-left: 15%;
	float: left;
	padding-right: 0%;
	padding-left: 0%;
	line-height: 1em;
}
    .colimgbullet {
	height: auto;
	width: 50%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-right: 25%;
	margin-bottom: 0px;
	margin-left: 25%;
	margin-top: 0px;
}
    .colimgbullet2 {
	height: auto;
	width: 50%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-right: 0%;
	margin-bottom: 0px;
	margin-left: 0%;
	margin-top: 0px;
}
    .textoempresa {
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.0em;
	height: auto;
	width: 90%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	margin-top: 0px;
	padding-right: 0%;
	padding-left: 0%;
	margin-bottom: 15px;
	margin-right: 5%;
	margin-left: 5%;
}
    .conttextoformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 20px;
	float: left;
	border: thin dashed #999;
	padding-top: 15px;
	padding-bottom: 15px;
}
    .iconstipostoner {
	height: auto;
	width: 20%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 50px;
	margin-left: 10%;
}
    .iconstipostoner2 {
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 40px;
	margin-left: 5%;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 0.9em;
	color: #999999;
	height: auto;
	width: 40%;
	text-align: left;
	float: left;
	padding-bottom: 0px;
	margin-left: 15%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .contformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 30px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}
    .contmapa5 {
	height: auto;
	width: 64%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}
    .contmapa6 {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display:block;
}
    .contmapa7 {
	height: auto;
	width: 100%;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 20px;
	border: thin dashed #999;
	float: left;
	display: none;
}	

}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 600
*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 550
*/
@media only screen and (max-width: 550px) {
	.col1B {
	height: auto;
	width: 100%;
	text-align: center;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 0px;
}
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 98%;
	text-align: center;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 20px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 98%;
	text-align: center;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 20px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 2.5em;
	width: 95%;
	height: auto;
	text-align: center;
	margin-top: 0px;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	padding-right: 0%;
	padding-left: 0%;
	line-height: 1em;
}
	.tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 2.5em;
	width: 70%;
	height: auto;
	text-align: center;
	margin-top: 0px;
	margin-right: 15%;
	margin-left: 15%;
	float: left;
	padding-right: 0%;
	padding-left: 0%;
	line-height: 1em;
}
    .colimgbullet {
	height: auto;
	width: 50%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-right: 25%;
	margin-bottom: 0px;
	margin-left: 25%;
	margin-top: 0px;
}
    .colimgbullet2 {
	height: auto;
	width: 50%;
	padding: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
	line-height: 0px;
	margin-right: 0%;
	margin-bottom: 0px;
	margin-left: 0%;
	margin-top: 0px;
}
    .textoempresa {
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.0em;
	height: auto;
	width: 90%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	margin-top: 0px;
	padding-right: 0%;
	padding-left: 0%;
	margin-bottom: 15px;
	margin-right: 5%;
	margin-left: 5%;
}	
    .iconstipostoner {
	height: auto;
	width: 20%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 60px;
	margin-left: 10%;
}
    .iconstipostoner2 {
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 50px;
	margin-left: 5%;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 1em;
	color: #999999;
	height: auto;
	width: 50%;
	text-align: left;
	float: left;
	padding-bottom: 0px;
	margin-left: 5%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .cont100cierre {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	background: #0da1e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYTFlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzU0Y2RmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODhmZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0da1e5 0%, #54cdf2 48%, #088fd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0da1e5), color-stop(48%,#54cdf2), color-stop(100%,#088fd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* IE10+ */
	background: linear-gradient(to right, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* W3C */


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da1e5', endColorstr='#088fd8',GradientType=1 );
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
}
    .contcentralcierre {
	height: auto;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
}
    .contcontactoizq {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
    .contcontactoder {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 14%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
    .contimgface {
	height: 25px;
	width: 25px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
    .contcontactocentral {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 58%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
   .contcentral {
	height: auto;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
    .titulobestcomputer {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1.2em;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 15px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}	
    .contformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 30px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}

}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 550
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 480
*/
@media only screen and (max-width: 480px) {
    .iconstipostoner {
	height: auto;
	width: 20%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 80px;
	margin-left: 10%;
}
    .iconstipostoner2 {
	height: auto;
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 80px;
	margin-left: 5%;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 1em;
	color: #999999;
	height: auto;
	width: 50%;
	text-align: left;
	float: left;
	padding-bottom: 0px;
	margin-left: 5%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .cont100cierre {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	background: #0da1e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYTFlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzU0Y2RmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODhmZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0da1e5 0%, #54cdf2 48%, #088fd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0da1e5), color-stop(48%,#54cdf2), color-stop(100%,#088fd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* IE10+ */
	background: linear-gradient(to right, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da1e5', endColorstr='#088fd8',GradientType=1 );
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
}
    .contcentralcierre {
	height: auto;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
}
    .contcontactoizq {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
    .contcontactoder {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 14%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
    .contimgface {
	height: 25px;
	width: 25px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
    .contcontactocentral {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 58%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
   .contcentral {
	height: auto;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
    .titulobestcomputer {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1.2em;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 15px;
}	
    .contformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 30px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}

}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 480
*/	
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    INICIA MEDIA QUERY 320
*/
@media only screen and (max-width: 320px) {
    .colbullet {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 90%;
	text-align: center;
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .colbullet2 {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1em;
	height: auto;
	width: 90%;
	text-align: center;
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}
    .tituloseccion {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 1.5em;
	width: 90%;
	height: auto;
	text-align: center;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1em;
	padding-top: 0px;
}
    .tituloseccion2 {
	font-family: "roboto_condensedbold", sans-serif;
	color: #999999;
	font-size: 1.5em;
	width: 90%;
	height: auto;
	text-align: center;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1em;
	padding-top: 0px;
}	
    .iconstipostoner {
	height: auto;
	width: 40%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 0px;
	margin-left: 30%;
	margin-right: 30%;
}
    .iconstipostoner2 {
	height: auto;
	width: 40%;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 2%;
	margin-top: 0px;
	margin-left: 30%;
	margin-right: 30%;
}
    .textotipostoner {
	font-family: "AllerLightRegular", sans-serif;
	font-size: 1em;
	color: #999999;
	height: auto;
	width: 90%;
	text-align: center;
	float: left;
	padding-bottom: 0px;
	margin-left: 0%;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 1.5em;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	margin-top: 15px;
}
    .contcentralcierre {
	height: auto;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
}
    .contcontactoizq {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5%;
	padding-left: 5%;
}
    .contcontactoder {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5%;
	padding-left: 5%;
}
    .contimgface {
	height: 25px;
	width: 25px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
    .contcontactocentral {
	font-family: "roboto_condensedlight", sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	height: auto;
	width: 90%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5%;
	padding-left: 5%;
}
    .cont100cierre {
	height: auto;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	background: #0da1e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYTFlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzU0Y2RmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODhmZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0da1e5 0%, #54cdf2 48%, #088fd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0da1e5), color-stop(48%,#54cdf2), color-stop(100%,#088fd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* IE10+ */
	background: linear-gradient(to right, #0da1e5 0%,#54cdf2 48%,#088fd8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da1e5', endColorstr='#088fd8',GradientType=1 );
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
}
   .contcentral {
	height: auto;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	margin-top: 0px;
}
    .titulobestcomputer {
	font-family: "AllerLightRegular", sans-serif;
	color: #999999;
	font-size: 1.1em;
	float: left;
	width: 100%;
	height: 30px;
	text-align: center;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
    .contformulario {
	height: auto;
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 30px;
	float: left;
	border: thin dashed #999;
	padding-top: 67px;
	padding-bottom: 67px;
}

}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
    TERMINA MEDIA QUERY 320
*/	
